body
{
padding:0px;
width:100%;
height:100%;
margin:auto;
font-family:Arial;
background-image:url("back.jpg");
}

#header
{

width:100%;
height:120px;

text-align:center;
}

#wrapper #table1 td h3{
text-align:center ;
font-size:20px;
font-family:pristina;
}

#wrapper #table1
{
width:600px;
height:150px;
table-layout:fixed;
}



#header #logo img{
margin-top:20px;
margin-left:-1100px;
}

#wrapper{
width:800px;
height:800px;
margin:100px auto;
}

#main
{

height:1000px;
width:800px;
}
#footer
{
height:40px;
border-top:1px solid grey;
text-align:center;
font-size:14px
}

#header #nav
{
font-size:1px;
margin-top:-75px;
margin-left:-550px;

}
#header #nav a{
text-decoration:none;
color:Black;
}
#wrapper #main img{
border: 1px solid grey;
}

#header #nav a:hover{
color:red;
}
#header #nav ul li{
list-style-type:none;
border: 5px solid yellow;
display:inline;
padding :10px 18px 13px 10px;
background-color:#99FF99;
font-size:31px;
color:black;
font-family:pristina;
}
